body{
    background-image: url(../img/amanda-mocci-90505-unsplash1400.jpg);
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;
    color: white;
}

nav{
    padding-bottom: .5%;
}

nav h1{
    color: white;
    font-size: 180px;
    text-shadow: 5px 5px black; 
    padding-left: 40px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}

li a{
    font-size: 20px;
}

.navbar-header{
    color: goldenrod;
}

.container h2{
    text-align: center;
    color: goldenrod;
}

.container{
    margin-top: 150px;
}

.row, .col-md-4, .col-md-8{
    border: 1px solid white;
}

/*.row{
    margin-bottom: 30px;
}*/

.tab-content{
    border: 1px solid white;
}

.tab-content h2{
    color: white;
    font-weight: bolder;
}

.modal-content h4{
    color: black;
}

.modal-body>button{
    background-color:black;
}

.modal-body a{
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.row h3{
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 3px 3px grey;
}

.row p{
    font-size: 18px;
}

.mockingjaydescription{
    display: flex;
    border: 1px solid white;
}

.mockingjaydescriptiona, .mockingjaydescriptionb{
    flex: 1;
    border: 1px solid white;
}

.hungergamesreviews p, .catchingfirereviews p, .mockingjaydescriptionb p, .mockingjayreviews p, .underlandreviews p{
    font-style: italic;
    font-size: 16px;
    color: goldenrod;
}








