*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../img/amanda-mocci-90505-unsplash1400.jpg);
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

.navbar-header{
    color: goldenrod;
}

div{
    box-sizing:border-box;
}

.container h1{
    text-align: center;
    color: white;
    font-size: 150px;
    text-shadow: 5px 5px black; 
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}


li a{
    font-size: 20px;
}


.container h2{
    text-align: center;
    color: goldenrod;
}

.row, .col-md-4, .col-md-8{
    padding: 1%;
}

#home h2, #menu2 h2, #menu3 h2{
    font-family: 'Great Vibes', cursive;
}

.tab-content h2{
    color: white;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    color: goldenrod;
}

.modal-content h4{
    color: black;
}

.modal-body>button{
    background-color:black;
}

.modal-body a{
    color: goldenrod;
    font-weight: bold;
    font-size: 24px;
}

.row h3{
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 3px 3px grey;
}

.row p{
    font-size: 18px;
}

.mockingjaydescription, .hungergamesdescription, .yearjungledescription{
    display: flex;
}

.yearjungledescriptiona{
    display: flex;
    align-items: center;
}

.mockingjaydescriptiona, .mockingjaydescriptionb, .hungergamesdescriptiona, .hungergamesdescriptionb, .yearjungledescriptiona, .yearjungledescriptionb{
    flex: 1;
}

.hungergamesreviews p, .catchingfirereviews p, .hungergamesdescriptionb, .mockingjaydescriptionb p, .mockingjayreviews p, .underlandreviews p, .yearjungledescriptiona{
    font-style: italic;
    font-size: 16px;
    color: goldenrod;
    font-weight: bold;
    text-shadow: 2px 2px black; 
}

@media screen and (max-width: 1190px){
    .col-md-8{
        padding-left: 40px;
    }
    .col-md-9{
        padding-left: 60px;
    }
}

@media screen and (max-width: 800px){
    .container h1{
        font-size: 100px;
    }
    .col-md-4, .col-md-3{
        display: flex;
        justify-content: center;
    }
    .col-md-8{
        padding-right: 40px;
    }
    .col-md-9{
        padding-right: 60px;
    }
}

@media screen and (max-width: 375px){
    .container h1{
        font-size: 70px;
    }
    .col-md-4{
        display: flex;
        justify-content: center;
    }
    .mockingjaydescription, .hungergamesdescription, .yearjungledescription{
        flex-direction: column;
    }
}









