*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../img/amanda-mocci-90505-unsplash1400.jpg);
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

.navbar-header{
    color: goldenrod;
    border: 1px solid pink;
}

div{
    box-sizing:border-box;
}

.container h1{
    text-align: center;
    color: white;
    font-size: 160px;
    text-shadow: 5px 5px black; 
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    border: 1px solid grey;
}


li a{
    font-size: 20px;
}


.container h2{
    text-align: center;
    color: goldenrod;
}

.container{
    /*margin-top: 100px;*/
    border: 1px solid yellow;
}

.row, .col-md-4, .col-md-8{
    border: 1px solid white;
    padding: 1%;
}


.tab-content{
    border: 1px solid white;
}

.tab-content h2{
    color: white;
    font-weight: bolder;
    font-family: 'Raleway', cursive;
    font-size: 34px;
    color: goldenrod;
}

.modal-content h4{
    color: black;
}

.modal-body>button{
    background-color:black;
}

.modal-body a{
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.row h3{
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 3px 3px grey;
}

.row p{
    font-size: 18px;
}

.mockingjaydescription{
    display: flex;
    border: 1px solid white;
}

.mockingjaydescriptiona, .mockingjaydescriptionb{
    flex: 1;
    border: 1px solid white;
}

.hungergamesreviews p, .catchingfirereviews p, .mockingjaydescriptionb p, .mockingjayreviews p, .underlandreviews p{
    font-style: italic;
    font-size: 16px;
    color: goldenrod;
}


@media screen and (max-width: 1190px){
    .col-md-8{
        padding-left: 40px;
    }
    .col-md-9{
        padding-left: 60px;
    }
}

@media screen and (max-width: 800px){
    .container h1{
        font-size: 100px;
    }
    .col-md-4, .col-md-3{
        display: flex;
        justify-content: center;
    }
    .col-md-8{
        padding-right: 40px;
    }
    .col-md-9{
        padding-right: 60px;
    }
}

@media screen and (max-width: 375px){
    .container h1{
        font-size: 70px;
    }
    .col-md-4{
        display: flex;
        justify-content: center;
    }
    .mockingjaydescription{
        flex-direction: column;
    }
}








